name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest    
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker compose up -d

      - name: Install dependencies
        run: npm install

      - name: Start server
        run: npm start &
        env:
          CI: true

      - name: Wait for server to be ready
        run: sleep 20

      - name: Run tests
        run: npm test