name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:latest
        options: --privileged # Required for Docker in Docker
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
    container:
      image: mcr.microsoft.com/playwright:latest

    steps:
      ## Checkout the code
      - name: Checkout the code
        uses: actions/checkout@v4

      ## Build the stack
      - name: Build the stack
        run: docker compose up -d

      # ## Wait for server to be ready
      # - name: Wait for server to be ready
      #   run: |
      #     echo "Waiting for server to start..."
      #     timeout 60s bash -c "until echo > /dev/tcp/localhost/3333; do sleep 1; done"
      #   shell: bash
        
      # ## Setup for playwright tests
      # - name: Install dependencies
      #   run: npm ci

      # ## Install Playwright Browsers
      # - name: Install Playwright Browsers
      #   run: npx playwright install --with-deps

      # ## Run Playwright tests
      # - name: Run Playwright tests
      #   run: npm run test:playwright -- --timeout=5000

      # ## Upload artifacts
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30